/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.add-config-btn {
    background-color: var(--interactive-accent) !important;
}

.delete-btn {
    background-color: #a73434 !important;
}

.save-btn {
    background-color: #2e72cb !important;
}

  